option_settings:
  aws:autoscaling:trigger:
    BreachDuration: '5'
    EvaluationPeriods: '1'
    LowerThreshold: '30'
    MeasureName: CPUUtilization
    Period: '5'
    Statistic: Average
    Unit: Percent
    UpperThreshold: '80'
    UpperBreachScaleIncrement: '1'
    LowerBreachScaleIncrement: '-1'